Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd

In [ ]:
log = pd.read_csv('visit_log.csv', sep=';')

In [ ]:
log['traffic_type'] = log['traffic_source']
log.loc[(log.traffic_source.isin(['yandex','google'])), 'traffic_type'] = 'organic'
log.loc[log.traffic_source.isin(['paid' ,'email']), 'traffic_type'] = 'other'
log.loc[(log.traffic_source.isin(['paid' ,'email']))&(log.region == 'Russia'), 'traffic_type'] = 'ad'

In [ ]:
log.head(20)

In [ ]:
# 2й вариант
# log.loc[(log.traffic_source.isin(['yandex','google'])), 'traffic_type'] = 'organic'
# log.loc[log.traffic_source.isin(['paid' ,'email']), 'traffic_type'] = 'other'
# log.loc[(log.traffic_source.isin(['paid' ,'email']))&(log.region == 'Russia'), 'traffic_type'] = 'ad'
# log.loc[pd.isnull(log.traffic_type), 'traffic_type'] = log['traffic_source']

Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [2]:
news = pd.read_csv('URLs.txt')

In [8]:
news.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [9]:
news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 1 columns):
url    93 non-null object
dtypes: object(1)
memory usage: 872.0+ bytes

In [3]:
news.loc[news['url'].str.contains('/[0-9]{8}-')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [ ]:
# второй способ
# news['metric'] = news.url.str.contains('/[0-9]{8}-')
# address_news = news.query('metric == True')
# address_news[['url']].head()

Домашнее задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [4]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [5]:
from pymystem3 import Mystem

In [6]:
m = Mystem()
def lemmas(data):
    lemmas = m.lemmatize(data['keyword'])
    lem = ' '.join(lemmas)
    return lem

In [7]:
data['lemmas'] = data.apply(lemmas, axis = 1)
data.head()

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n